python-telegram-bot[job-queue]==20.8
fastapi==0.110.1
uvicorn==0.29.0
pytesseract==0.3.10
Pillow==10.2.0
gspread==6.1.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
requests-oauthlib==2.0.0
requests==2.32.3
aiohttp==3.9.3
